In [3]:
class Institute:
    name_Inst="BVCITS"
    Address="AMP"
    code="BVCITS111"
    def __init__(self,name,age,phone,email,degree,branch,year):
        self.name=name
        self.age=age
        self.phone=phone
        self.email=email
        self.degree=degree
        self.branch=branch
        self.year=year
    def obj(self):
        print(f'My name is:{self.name}')
        print(f'My age is:{self.age}')
        print(f'My phone no is:{self.phone}')
        print(f'My email is:{self.email}')
        print(f'My degree is:{self.degree}')
        print(f'My branch is:{self.branch}')
        print(f'year:{self.year}')
prasad=Institute("prasad",21,9192939695,"prasad@gmail.com","B.tech","Civil",2023)
prasad.obj()

My name is:prasad
My age is:21
My phone no is:9192939695
My email is:prasad@gmail.com
My degree is:B.tech
My branch is:Civil
year:2023

In [4]:
class Book:
    publish="epson"
    address="HYD"
    def __init__(self,title,author,desc,price):
        self.title=title
        self.author=author
        self.desc=desc
        self.price=price
    def view(self):
        print(f"Book Title  :   {self.title}")
        print(f"Book Author :   {self.author}")
        print(f"Book DESC   :   {self.desc}")
        print(f"Book Price  :   {self.price}")
book1=Book("Python","Gopal","Python Programming",1000)
book2=Book("SQL","Yasin","Database",800)
book3=Book("Java","kashi","Java development",1000)
book1.view()
print("*"*50)
book2.view()
print("*"*50)
book3.view()
print("*"*50)

Book Title  :   Python
Book Author :   Gopal
Book DESC   :   Python Programming
Book Price  :   1000
**************************************************
Book Title  :   SQL
Book Author :   Yasin
Book DESC   :   Database
Book Price  :   800
**************************************************
Book Title  :   Java
Book Author :   kashi
Book DESC   :   Java development
Book Price  :   1000
**************************************************

In [1]:
class Book:
    publish="epson"
    address="HYD"
    usncode="USN15480200"
    details={}
    def __init__(self,title,author,desc,price):
        self.title=title
        self.author=author
        self.desc=desc
        self.price=price
        self.change_usn()
        self.usn=self.usncode
        self.concat_data(self.usn,self)

    @classmethod
    def concat_data(cls,key,value):
        cls.details[key]=value

    @classmethod
    def change_usn(cls):
        cls.usncode=Book.usncode[:-1]+str(int(Book.usncode[-1])+1)

    @classmethod
    def all_display(cls):
        for i in cls.details:
            cls.view(cls.details[i])
            print("_"*50)

    def view(self):
        print(f"Book Title  :   {self.title}")
        print(f"Book Author :   {self.author}")
        print(f"Book DESC   :   {self.desc}")
        print(f"Book Price  :   {self.price}")
        print(f"Book USN    :   {self.usn}")
book1=Book("Python","Gopal","Python Programming",1000)
book2=Book("SQL","Yasin","Database",800)
book3=Book("Java","kashi","Java development",1000)

In [2]:
Book.all_display()

Book Title  :   Python
Book Author :   Gopal
Book DESC   :   Python Programming
Book Price  :   1000
Book USN    :   USN15480201
__________________________________________________
Book Title  :   SQL
Book Author :   Yasin
Book DESC   :   Database
Book Price  :   800
Book USN    :   USN15480202
__________________________________________________
Book Title  :   Java
Book Author :   kashi
Book DESC   :   Java development
Book Price  :   1000
Book USN    :   USN15480203
__________________________________________________

In [1]:
class bank:
    bank_name="SBI"
    IFSC="SBIN0000841"
    address="HYD"
    ROI=7.7
    cust_no=0
    cust_details={}
    def __init__(self,c_name,c_phone,c_email,c_address,c_bal=500):
        self.c_name=c_name
        self.c_phone=c_phone
        self.c_email=c_email
        self.c_address=c_address
        self.c_bal=c_bal
        self.inc_cust_no()
        self.c_acc="101578"+str(self.cust_no)
        self.concat_cust_details(self.c_acc,self)
        print(f'Hai Welcome to {self.bank_name}\nDear MR/MS {self.c_name.title()}\n your account is created successfully with account number is {self.c_acc}')

        @classmethod
        def inc_cust_no(cls):
            cls.cust_no+=1

        @classmethod
        def concat_cust_details(cls,c_acc,obj_address):

SyntaxError: incomplete input (432993173.py, line 24)

In [13]:
class company:
    com_name="ibm"
    address="Hyd"
    website="www.ibm.co.in"
    emp_count=0
    def __init__(self,name,email,phone,address,gender,doj):
        self.name=name
        self.email=email
        self.phone=phone
        self.address=address
        self.gender=gender
        self.doj=doj
        self.off_email=self.name+str(self.phone)[-4:]+"@"+self.com_name+".com"
        self.inc_emp_count()
        self.id="ibm23"+str(self.emp_count)

        n=int(input("choose the option\n1.Commit\n2.Cancel"))
        if n==1:
            cursor.execute("insert into com_emp(id,name,email,phone,address,gender,doj), values(?,?,?,?,?,?,?)",[self.id,self.name,self.email,self.phone,self.address,self.gender,self.doj])
            print("Data is stored")
            db.commit
            db.close
        else:
            print("Data is not stored")
    @classmethod
    def inc_emp_count(cls):
        cls.emp_count+=1
    @staticmethod
    def display():
        cursor.execute("select * from com_emp")
        res=cursor.fetchall()
        for i in res:
            print("Id:",i[0])
            print("Name:",i[1])
            print("Email:",i[2])
            print("Phone:",i[3])
            print("Address:",i[4])
            print("Gender:",i[5])
            print("DOJ:",i[6])
            print("-"*60)
emp1=company("Prasad","prasad@gmail.com",7788994455,"hyd","Male",21-8-2023)

OperationalError: near ",": syntax error

In [5]:
import sqlite3
db=sqlite3.connect("company.bd")
cursor=db.cursor()
def create_table():
    cursor.execute('''create table com_emp(id varchar(20) primary key,
    name varchar(50) not null,
    email varchar(50) unique not null.
    phone big int not null unique,
    address text,
    doj date)''')
    print(cursor.rowcount)
    db.commit

In [6]:
import sqlite3
db=sqlite3.connect("company.bd")
cursor=db.cursor()

In [9]:
display.__dict__

{}