In [1]:
print("haiii")
print("hello")

haiii

In [1]:
print("haii")

haii

In [11]:
a = 100
b = 200
print(a+b)
c=a+b
c

300

300

In [3]:
y='apple'
id(y)
id(0)
y[0]

'a'

In [11]:

a={10}
type(a)

set

In [18]:
f=[10,20,(100,200,"a"),'py']
import copy
x=copy.deepcopy(f)
x

[10, 20, (100, 200, 'a'), 'py']

In [4]:
# 19Q] WAS to replace the old characters into a new characters of given string

x = 'PYSPIDERS'
res=(x[:-3]+"Q"+x[-2:])
print(res)
res=(x[:6]+"Q"+x[7:])
print(res)

PYSPIDQRS
PYSPIDQRS

In [6]:
# 20Q] WAS to delete the specific character in the given string 

x="QSPIDERS"
res=x[:4]+x[4+1:]
print(res)

QSPIERS

In [8]:
# 21Q] WAS to delete the sequence of characters in given string
# i\p ; x="QSPIDERS"      O\P ; QSRS

res=x[:2]+x[6:]
print(res)
res=x[:2]+x[-2:]
print(res)
res=x[:-6]+x[-2:]
print(res)
res=x[:-6]+x[6:]
print(res)

QSRS
QSRS
QSRS
QSRS

In [17]:
# 22Q] WAS to concat the new string into the specific position of the given string
# i\p ; x="QSPIDERS"   o\p : QSPI123456DERS

x="QSPIDERS"
res=x[0:4]+"123456"+x[-4:]
print(res)

res=x[-1:3:-1]+"123456"+x[-5::-1]
print(res)

res=x[:3:-1]+"123456"+x[3::-1]
print(res)

QSPI123456DERS
SRED123456IPSQ
SRED123456IPSQ

lIST questions

In [24]:
# 23Q] WAS to concat the new value into the starting of the given list

l=[10,20,30,50,'hello','haii']
l=[100,200]+l
print(l,id(l))

l=[10,20,30,50,'hello','haii']
t=[100,200]
t+=l
print(t,id(l))

l=[10,20,30,50,'hello','haii']
l[0:0]=[100,200]
print(l,id(l))

[100, 200, 10, 20, 30, 50, 'hello', 'haii'] 2296957828544
[100, 200, 10, 20, 30, 50, 'hello', 'haii'] 2296957824320
[100, 200, 10, 20, 30, 50, 'hello', 'haii'] 2296957828544

In [28]:
# 24Q] WAS to concat the new value into the ending of the given list

l=[10,20,30,50,'hello','haii']
print(l,id(l))
l=l+[100,200]
print(l,id(l))

l=[10,20,30,50,'hello','haii']
print(l,id(l))
l+=[100,200]
print(l,id(l))

l=[10,20,30,50,'hello','haii']
print(l,id(l))
l[len(l):len(t)]=[100,200]
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii'] 2296939441856
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 2296932516672
[10, 20, 30, 50, 'hello', 'haii'] 2296939445184
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 2296939445184
[10, 20, 30, 50, 'hello', 'haii'] 2296932516672
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 2296932516672

In [32]:
# 25Q] WAS to concat the new value into the middle of tje given string

l=[10,20,30,50,'hello','haii']
print(l,id(l))
l=l[:len(l)//2]+['A','B']+l[len(l)//2:]
print(l,id(l))

l=[10,20,30,50,'hello','haii','bye']
print(l,id(l))
l=l[:len(l)//2]+['A','b']+l[len(l)//2:]
print(l,id(l))

l=[10,20,30,50,'hello','haii']
print(l,id(l))
l[len(l)//2:len(l)//2]=['a','b']
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii'] 2296933942720
[10, 20, 30, 'A', 'B', 50, 'hello', 'haii'] 2296933941760
[10, 20, 30, 50, 'hello', 'haii', 'bye'] 2296933343488
[10, 20, 30, 'A', 'b', 50, 'hello', 'haii', 'bye'] 2296933942720
[10, 20, 30, 50, 'hello', 'haii'] 2296933941760
[10, 20, 30, 'a', 'b', 50, 'hello', 'haii'] 2296933941760

In [35]:
# 26Q] WAS to modify the new value into the specific position of the given list

l=[10,20,30,50,'hello','haii',66]
print(l,id(l))
l[2]="helloworld"
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii', 66] 2296964354752
[10, 20, 'helloworld', 50, 'hello', 'haii', 66] 2296964354752

In [36]:
# 27Q] WAS to modify the sequencee of new value into the specific postion of the given list

l=[10,20,30,50,'hello','haii',66]
print(l,id(l))
l[2:2]=["helloworld","goodbye"]
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii', 66] 2296945323968
[10, 20, 'helloworld', 'goodbye', 30, 50, 'hello', 'haii', 66] 2296945323968

In [39]:
# 28Q] WAS to modify the new value into the starting of the given list

l=[10,20,30,50,'hello','haii',66]
print(l,id(l))
l[0]="helloworld"
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii', 66] 2296964358336
['helloworld', 20, 30, 50, 'hello', 'haii', 66] 2296964358336

In [40]:
# 29Q] WAS to modify the new value into the ending of the given list

l=[10,20,30,50,'hello','haii',66]
print(l,id(l))
l[-1]="helloworld"
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii', 66] 2296939157824
[10, 20, 30, 50, 'hello', 'haii', 'helloworld'] 2296939157824

In [42]:
# 30Q] WAS to modify the new value into the middle of the given value 
l=[10,20,30,50,'hello','haii',66]
print(l,id(l))
l[len(l)//2]="helloworld"
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii', 66] 2296964358336
[10, 20, 30, 'helloworld', 'hello', 'haii', 66] 2296964358336

In [1]:
#31Q] WAS to modify the first 4 positions values into a givenn list 
l=[1,2,3,4,5,6]
print(l,id(l))
l[0:4]=['a','b','c','d']
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2151214887872
['a', 'b', 'c', 'd', 5, 6] 2151214887872

In [5]:
#32Q] WAS to delete thee value in the specific position of the given list
l=[1,2,3,4,5,6]
print(l,id(l))

del l[3]
print(l,id(l))

del l[-1]
print (l,id(l))

[1, 2, 3, 4, 5, 6] 2151220513472
[1, 2, 3, 5, 6] 2151220513472
[1, 2, 3, 5] 2151220513472

In [14]:
#33Q] WAS to delete the new value into the midle of the list

l=[1,2,3,4,5,6,7]
print(l,id(l))

del l[len(l)//2]
print(l,id(l))

l=[1,2,3,4,5,6]
print(l,id(l))

del l[len(l)//2]
print(l,id(l))

[1, 2, 3, 4, 5, 6, 7] 2151221111232
[1, 2, 3, 5, 6, 7] 2151221111232
[1, 2, 3, 4, 5, 6] 2151221185664
[1, 2, 3, 5, 6] 2151221185664

In [12]:
#34Q] was to delete the new value into the starting of the list 
l=[1,2,3,4,5,6]
print(l)
del l[0]
print(l)

l=[1,2,3,4,5,6]
print(l)

del l[-(len(l))]
print(l)

[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]

In [16]:
#35Q] WAS to delete the sequence of the value from the list

l=[1,2,3,4,5,6]
print(l,id(l))
del l[0:4]
print(l,id(l))

l=[1,2,3,4,5,6,'a','b','c','d','e']
print(l,id(l))
del l[4:0:-1]
print(l,id(l))

print("_"*30)

l=[1,2,3,4,5,6,'a','b','c','d','e']
print(l,id(l))
del l[-1:-6:-1]
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2151220431616
[5, 6] 2151220431616
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e'] 2151221185664
[1, 6, 'a', 'b', 'c', 'd', 'e'] 2151221185664
______________________________
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e'] 2151220434112
[1, 2, 3, 4, 5, 6] 2151220434112

TUPLE Questions

In [18]:
#36Q] WAS to concat the new value into starting of the tuple

t=("haii",'good','morning','goodnight')
print(t,id(t))

t=("haii",)+t
print(t,id(t))

('haii', 'good', 'morning', 'goodnight') 2151221122512
('haii', 'haii', 'good', 'morning', 'goodnight') 2151221038752

In [20]:
#37Q] WAS to concat the new value into middle of the tuple
t=("haii",'good','morning','goodnight')
print(t,id(t))
t=t[:len(t)//2]+([10,20],)+t[len(t)//2:]
print(t,id(t))

('haii', 'good', 'morning', 'goodnight') 2151221204112
('haii', 'good', [10, 20], 'morning', 'goodnight') 2151221038752

In [21]:
#38Q] WAS to concat the new value into specifi position of the tuple
t=("haii",'good','morning','goodnight')
print(t,id(t))
t=t[:3]+([10,20],)+t[3:]
print(t,id(t))

('haii', 'good', 'morning', 'goodnight') 2151221204112
('haii', 'good', 'morning', [10, 20], 'goodnight') 2151221038752

In [25]:
#39Q] WAS to concat the new value into ending of the tuple
t=("haii",'good','morning','goodnight','bye')
print(t, id(t))
t=t+("bye bye",)
print(t,id(t))

u=("haii",'good','morning','goodnight','bye')
print(u,id(u))
u+=("bye bye",)
print(u,id(u))

('haii', 'good', 'morning', 'goodnight', 'bye') 2151221611472
('haii', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 2151216478528
('haii', 'good', 'morning', 'goodnight', 'bye') 2151221611472
('haii', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 2151221553056

In [31]:
#40Q] WAS to modify the value into the tuple 
#starting
x=("haii",'good','morning','goodnight','bye')
x=("haii",)+x[1:]
print(x)

#ENDING
x=("haii",'good','morning','goodnight','bye')
x=x[0:-1]+('Good bye',)
print(x)

#Specific position 

x=("haii",'good','morning','goodnight','bye bye')
x=x[0:2]+("afternoon",)+x[2+1:]
print(x)

#middle position

x=("haii",'good','morning','goodnight','bye bye')
x=x[0:len(x)//2]+("afternoon",)+x[(len(x)//2)+1:]
print(x)

#sequence of values 
x=("haii",'good','morning','goodnight','bye','bye bye')
x=x[0:2]+([10,2,0],)+x[4:]
print(x)

('haii', 'good', 'morning', 'goodnight', 'bye')
('haii', 'good', 'morning', 'goodnight', 'Good bye')
('haii', 'good', 'afternoon', 'goodnight', 'bye bye')
('haii', 'good', 'afternoon', 'goodnight', 'bye bye')
('haii', 'good', [10, 2, 0], 'bye', 'bye bye')

In [33]:
#41Q] WAS to modify the value into the tuple 
#starting
x=("haii",'good','morning','goodnight','bye')
x=x[1:]
print(x)

#ENDING
x=("haii",'good','morning','goodnight','bye')
x=x[0:-1]
print(x)

#Specific position 

x=("haii",'good','morning','goodnight','bye bye')
x=x[0:2]+x[2+1:]
print(x)

#middle position

x=("haii",'good','morning','goodnight','bye bye')
x=x[0:len(x)//2]+x[(len(x)//2)+1:]
print(x)

#sequence of values 
x=("haii",'good','morning','goodnight','bye','bye bye')
x=x[0:2]+x[4:]
print(x)

('good', 'morning', 'goodnight', 'bye')
('haii', 'good', 'morning', 'goodnight')
('haii', 'good', 'goodnight', 'bye bye')
('haii', 'good', 'goodnight', 'bye bye')
('haii', 'good', 'bye', 'bye bye')

SET Questions

In [36]:
#42Q] WAS to concat the new value into the set

#UNION / CONCAT

s={10,20,30,40}
t={20,50,60}
res= s|t
print(res)

#UNION / CONCAT / UNION_UPDATE

s={10,20,30,40}
t={20,50,60}
s|=t
print(s)

#DIFFERENT / DELeTe

s={10,20,30,40}
t={20}
res= s-t
print(res)

#DIFFERENCE / DELETE / DIFFERENCE_UPDATE

s={10,20,30,40}
t={20}
s-=t
print(s)

{50, 20, 40, 10, 60, 30}
{50, 20, 40, 10, 60, 30}
{40, 10, 30}
{40, 10, 30}

DICT Questions

In [38]:
#43Q] WAS to concat the new key and value into the dict
#adding the single pair
d={'a':10,"hello":"bye"}
print(d,id(d))
d['c']=30
print(d,id(d))

# adiing the multiple pair
d={'a':10,"hello":"bye"}
x={'Apple':10,'Bat':1500,'ball':60}
print(d,id(d))
d|=x
print(d,id(d))

{'a': 10, 'hello': 'bye'} 2151220457792
{'a': 10, 'hello': 'bye', 'c': 30} 2151220457792
{'a': 10, 'hello': 'bye'} 2151214955136
{'a': 10, 'hello': 'bye', 'Apple': 10, 'Bat': 1500, 'ball': 60} 2151214955136

In [40]:
#44Q] WAS to delete the specific key and value in the given dict

d={'Apple':200,'Bat':'bye','ball':60}
print(d,id(d))
del d['ball']
print(d,id(d))


d={'Apple':200,'Bat':'bye','ball':60}
print(d,id(d))
del [d['ball']],d['Apple']
print(d,id(d))

{'Apple': 200, 'Bat': 'bye', 'ball': 60} 2151220566464
{'Apple': 200, 'Bat': 'bye'} 2151220566464
{'Apple': 200, 'Bat': 'bye', 'ball': 60} 2151220520832
{'Bat': 'bye'} 2151220520832

In [41]:
#45Q] WAS to modify the specific value in the given dict

d={'Apple':200,'Bat':'bye','ball':60}
print(d,id(d))
d['Apple']=1500
print(d,id(d))

#modify the multiple keys value pair
d={'Apple':200,'Bat':'bye','ball':60}
print(d,id(d))
del d['ball']
print(d,id(d))

{'Apple': 200, 'Bat': 'bye', 'ball': 60} 2151214827392
{'Apple': 1500, 'Bat': 'bye', 'ball': 60} 2151214827392

#TYPE CASTING

In [9]:
#46Q] WAE to concat tge list values & tuple values by using typecasting
l=[10,20,30,50]
j=('a','b','c','d')
res=tuple(l)+j
print(res)

l=[10,20,30,50]
j=('a','b','c','d')
j+=tuple(l)
print(j)

l=[10,20,30,50]
j=('a','b','c','d')
l+=list(j)
print(l)

l=[10,20,30,50]
j=('a','b','c','d')
res=list(j)+l
print(res)

(10, 20, 30, 50, 'a', 'b', 'c', 'd')
('a', 'b', 'c', 'd', 10, 20, 30, 50)
[10, 20, 30, 50, 'a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 10, 20, 30, 50]

In [12]:
#47Q] WAS to concat the list values and tuple values without typecasting 
l=['a','b','c','d']
t=(1,2,3,4.5)
l+=t
print(l)

['a', 'b', 'c', 'd', 1, 2, 3, 4.5]

# OPERATORS

In [14]:
#48Q] WAS to given number is divisible by 3

n=12
res=n%3==0
print(res)

True

In [16]:
#49Q] WASC to given number is divisible by 2 and 6

n=16
x=n%2==0 and n%6==0
print(x)

n=12
x=n%2==0 and n%6==0
print(x)

False
True

In [17]:
#50Q] WAE to check the last  digit is divisible by 3 from the given integer (don't use typecasting)
n=1569
res=((n%10)%3)==0
print(res)

True

In [25]:
#51Q] WAP to extract the last digit from the given integer number withouit typecasting

n=1569
x=n%10
print(x) 

n=1569
x=n%100
print(x)

n=1569
x=n%1000
print(x)

n=1569
x=n%10000
print(x)


n=1569
x=(n%100)//10
print(x)

9
69
569
1569
6

In [30]:
#52Q] WAP to eliminate the last digit from the given integer number withouit typecasting

n=1569
x=n//10
print(x) 

n=1569
x=n//100
print(x) 

n=1569
x=n//1000
print(x) 

n=1569
x=n//10000
print(x)

156
15
1
0

In [40]:
#53Q] WAP to extract the last two digits from given integernumber without typecasting

n=1879
x=(n%100)//10
print(x)

n=1879
x=(n%1000)//100
print(x)

n=1879
x=(n%10000)//1000
print(x)

7
8
1

In [34]:
#54Q WAE to check the last digit is divisible by3 from the given integer with typecasting

n=1569
x=str(n)[-1]
print(x , type(x))

x=(int(str(n)[-1]))
print(x, type(x))

x=(int(str(n)[-1])%3)==0
print(x, type(x))

9 <class 'str'>
9 <class 'int'>
True <class 'bool'>

In [41]:
#55Q] WAC to given number is greater than 150
n=420
x=n>150
print(x)

True

In [42]:
#56Q] WAE to check the given number is greater than or equal to 100
n=420
x=(n>=100)
print(x)

True

In [45]:
#57Q] WAE to check the given number is less than 150
n=150
x=n<150
print(x)

n=140
x=n<150
print(x)

False
True

In [46]:
#58Q] WAE to check the given number is less than or equal to 150
n=150
x=n<=150
print(x)

True

In [50]:
#59Q] WAE to check the given number is greater than 15 and less than 24

n=20
x=(n>15 and n<24)
print(x)

x=(15<n<24)
print(x)

True
True

In [52]:
#60Q] WAEto given number is odd
n=18
x=(n%2 !=0)
print(x)

n=18
x=not(n%2==0)
print(res)

False
True

In [53]:
#60Q] WAEto given number is Even 
n=18
x=(n%2==0)
print(x)

True

In [54]:
#62Q] WAC to perform the replication / repeatation of a given string with 6
b="haii"
x=b*6
print(x)

haiihaiihaiihaiihaiihaii

In [56]:
#63Q] WAE tocheck the given number is divisible by3 and also the number should be greater than 22

n=27
x=(n%3)==0 and (n>22)
print(x)

True

In [57]:
#64Q] WAC to perform the length of collection is even or not
c="prasad"
x=(len(c)%2==0)
print(x)

True

In [62]:
#65Q] WAC to check the length of collection is lessthan 55 and greaterthan 16

n="xdghfyryueuuytfryuteu6wruiufydyuei"
print(len(n))
x=(16<len(n)<55)
print(x)

34
True

In [5]:
#WAE to find out the ascii character in a given number

n=65
print(chr(n))
n=90
print(chr(n))
n=97
print(chr(n))
n=122
print(chr(n))
n=48
print(chr(n))
n=57
print(chr(n))
n=0
print(chr(n))
n=1
print(chr(n))
n=58
print(chr(n))

A
Z
a
z
0
9
 

:

In [8]:
#WAE to findout the ascii value to the given number
ch='A'
print(ord(ch))

ch='Z'
print(ord(ch))

ch='a'
print(ord(ch))

ch='z'
print(ord(ch))

ch='0'
print(ord(ch))

ch='9'
print(ord(ch))

65
90
97
122
48
57

In [13]:
#WAE to convert uppercase to lowercase

ch='A'
print(chr(ord(ch)+32))

ch='A'
print(ch.lower())

a
a

In [15]:
#WAE to convert lowercase to uppercase

ch='a'
print(chr(ord(ch)-32))

ch='A'
print(ch.upper())

A
A

In [27]:
#WAC to the given condition is uppercase or not
ch='A'
print(65<ord(ch)<90)

ch='A'
print(65<=ord(ch)<=90)

ch='Y'
print(65<=ord(ch)<=90) #this condition will consider one character

ch='YZ'
print(chr(65)<=ch<=chr(90))

ch='M'
print('A'<=ch<='z')

ch='Ya'
print(len(ch)==1 and chr(65)<=ch<=chr(90))  #this condition is consider one character

ch='Ma'
print(len(ch)==1 and 'A'<=ch<='Z')

ch="MA"
print(ch.isupper()) #isupper is consider each character in the given string

False
True
True
True
True
False
False
True

In [30]:
#WAC to the given condition is uppercase or not
ch='a'
print(97<ord(ch)<122)

ch='z'
print(97<=ord(ch)<=122)

ch='a'
print(97<=ord(ch)<=122) #this condition will consider one character

ch='aG'
print(chr(97)<=ch<=chr(122))

ch='gJ'
print('a'<=ch<='z')

ch='aY'
print(len(ch)==1 and chr(97)<=ch<=chr(122))  #this condition is consider one character

ch='Ma'
print(len(ch)==1 and 'a'<=ch<='z')

ch="at"
print(ch.islower()) #isupper is consider each character in the given string

False
True
True
True
True
False
False
True

In [ ]:
#WAC to the given condition is alphabet or not

ch='a'
print(97<=ord(ch)<=122 or 65<=ord(ch)<=90) #this condition will consider one character

ch='aG'
print(chr(97)<=ch<=chr(122) or chr(65<=ch<=chr(90)))

ch='gJ'
print('a'<=ch<='z' or '')

ch='aY'
print(len(ch)==1 and chr(97)<=ch<=chr(122))  #this condition is consider one character

ch='Ma'
print(len(ch)==1 and 'a'<=ch<='z')

ch="at"
print(ch.islower()) #isupper is consider each character in the given string

In [33]:
# WAE to given characters is ascii numbers 

ch="9"
print(48<=ord(ch)<=57)

ch="8"
print(chr(48)<=ch<=chr(57))

ch="6"
print('0'<=ch<='9')

#ch="M"
#print()

True
True
True

In [37]:
#WAE to the given character is special character or not

ch="*"
print(not('A'<=ch<='z' or 'a'<=ch<='z' or '0'<=ch<='9'))

ch="*"
print(1<=ord(ch)<=47 or 57<=ord(ch)<=64 or 91<=ord(ch)<=96 or 122<=ord(ch)<=127)

ch="*"
print(not(ch.isalnum()))

True
True
True

In [38]:
# WAE to check the given character should not be uppercase

ch="D"
print(len(ch)==1 and not ('A'<=ch<='Z'))

False

In [40]:
# WAE to check the given character should not be lowercase

ch="D"
print(len(ch)==1 and not ('a'<=ch<='z'))

True

In [42]:
# WAE to check the given character should not be the alphabet

ch="q"
print(len(ch)==1 and not('a'<=ch<='z' or 'A'<=ch<='Z'))

False

In [4]:
# wAE to extract the previous character in the given character

ch="D"
print(ord(ch)-1)

ch="D"
print(chr(ord(ch)-1))

ch="D"
print(chr(ord(ch)+1))

67
C
E

In [3]:
#WAS to extract the perivious character , given character and next character in the given character 

ch="D"
print(chr(ord(ch)-1),ch,chr(ord(ch)+1))

C D E

In [10]:
# WAE to check the given character is special symbol or not

n=93
print(chr(n))

res=not('A'<=chr(n)<='Z' or 'a'<=chr(n)<='z' or '0'<=chr(n)<='9')
print(res)

n=64
print(chr(n))

res=not('A'<=chr(n)<='Z' or 'a'<=chr(n)<='z' or '0'<=chr(n)<='9')
print(res)

]
True
@
True

In [6]:
# WAE to check the given character is converted to Ascii value and the value is eve as well as the charcter should be lowecase

ch="V"
print(ord(ch)%2==0 and 'a'<=ch<='z')

print(len(ch)==1 and ord(ch)%2==0 and 'a'<=ch<='z')

False
False

In [12]:
#WAE to check the given number of ASCII character is a vowel.

ch=65

res=chr(ch)=='A' or chr(ch)=='E' or chr(ch)=='I' or chr(ch)=='O' or chr(ch)=='U' or chr(ch)=='a' or chr(ch)=='e' or chr(ch)=='i' or chr(ch)=='o'or chr(ch)=='u'
print(res)

res=chr(ch) in 'AEIOUaeiou'
print(res)

True
True

In [22]:
# WAE to check the first and second conditions are sequence are not in a given string

st='ABCD'
print(ord(st[0]),ord(st[1]))

st='ABCD'
print(ord(st[0])==ord(st[1])-1)

print(ord(st[0])+1==ord(st[1]))

65 66
True
True

In [25]:
# WAE to check the given character ASCII value should be either than 50 or greater than 25 or lessthan 112
ch='0'
print(25<ord(ch)<112)

True

In [31]:
# WAE to the given number is increased by 1

n=5
n+=1
print(n)

# WAE to the given number is increased by 2

n=5
n+=2
print(n)

# WAE to the given number is decreased by 1

n=5
n-=1
print(n)

# WAE to the given number is decreased by 3

n=5
n-=3
print(n)

6
7
4
2

In [35]:
#WAE to check the given integer number is present in the collection

n=105
l=[10,20,115,105,156,256]
print(n in l)

n=105
l=(10,20,115,105,156,256)
print(n in l)
n=105
l={10,20,115,105,156,256}
print(n in l)
n=112
l={10:20,115:105,156:256}
print(n in l)

True
True
True
False

In [36]:
# WAE to perform the additon operation on A value and B value and final result should be updated to A 

a=10
b=20
a+b

30

In [ ]:
# WAE to check the given value is present in the collection 
n=10.05

In [38]:
n=[10,20]
l=[10,10.05,16+5j,True,[10,20]]
print(n in l)

True

In [43]:
n={10:20}
l={10:10.05,16+5j:True}
print(n in l)

TypeError: unhashable type: 'dict'

In [46]:
# WAE to check given value is integer or not
ch="hello"
print(type(ch)==str)

n=10
print(type(n)==int)

True
True

In [47]:
# WAE to check given value is single value darta type or not

n=10
type(n) in [int,float,complex,bytes,bool,type(None)]

True

In [49]:
#WAE to check given value should not be a single value data type
n=10
type(n) not in [int,float,complex,bytes,bool,type(None)]

False

In [51]:
# WAE to check given value is multi value or not

n=[10,20]
res=type(n) not in [int,float,complex,bytes,bool,type(None)]
print(res)

n="str"
res=type(n) in [str,list,tuple,set,dict]
print(res)

True
True

In [52]:
# WAE to check given value is a mutable or not

n=[10,20]
res=type(n) in [list,set,dict]
print(res)

True

In [54]:
# WAE to check given value is immutable or not

n=[10,20]
res=type(n) not in [list,set,dict]
print(res)

n=[10,20]
res=type(n) in [int,float,complex,bytes,bool,type(None),str,tuple]
print(res)

False
False

In [55]:
#WAC to check if the first and last characters are the same or not in the given list.
l=[10,20,30,40,50,10]
l[0]==l[-1]

True

In [56]:
#WAC to check if a given key is present in a dict.
ch="haii"
d={"hello":"hello","haii":"bye","good":"bad"}
print(ch in d)


ch="haii"
res=ch in d.keys()
print(res)

True
True

In [57]:
#WAC to check if value is present in the dict.
ch="bye"
d={"hello":"hello","haii":"bye","good":"bad"}
res=ch in d.values()
print (res)

True

In [59]:
#WAC to check if the key is not present in a dict.
ch="bye"
d={"hello":"hello","haii":"bye","good":"bad"}
res=(ch not in d)
print (res)

ch="bye"
d={"hello":"hello","haii":"bye","good":"bad"}
res=ch not in d.keys()
print (res)

True
True

In [67]:

#WAC to check if two values are pointing to the same address or not

m=[10,20,30]
n=m
print(n is m)

m=[10,20,30]
n=m.copy()
print(n is m)

m=[10,20,30]
n=m.copy()
print( n[0] is m[0] )

import copy
m=[10,20,30]
n=copy.deepcopy(m)
print(n is m)

import copy
m=(10,20,30)
n=m
print(n is m)

True
False
True
False
True

In [68]:
#WAC to check both the values should be integer and both the values are pointing to the same address.

m=156
n=156
type(m)==int and type(n)==int and m is n

True