In [1]:
print("haiii")
print("hello")

haiii

In [1]:
print("haii")

haii

In [11]:
a = 100
b = 200
print(a+b)
c=a+b
c

300

300

In [3]:
y='apple'
id(y)
id(0)
y[0]

'a'

In [11]:

a={10}
type(a)

set

In [18]:
f=[10,20,(100,200,"a"),'py']
import copy
x=copy.deepcopy(f)
x

[10, 20, (100, 200, 'a'), 'py']

In [4]:
# 19Q] WAS to replace the old characters into a new characters of given string

x = 'PYSPIDERS'
res=(x[:-3]+"Q"+x[-2:])
print(res)
res=(x[:6]+"Q"+x[7:])
print(res)

PYSPIDQRS
PYSPIDQRS

In [6]:
# 20Q] WAS to delete the specific character in the given string 

x="QSPIDERS"
res=x[:4]+x[4+1:]
print(res)

QSPIERS

In [8]:
# 21Q] WAS to delete the sequence of characters in given string
# i\p ; x="QSPIDERS"      O\P ; QSRS

res=x[:2]+x[6:]
print(res)
res=x[:2]+x[-2:]
print(res)
res=x[:-6]+x[-2:]
print(res)
res=x[:-6]+x[6:]
print(res)

QSRS
QSRS
QSRS
QSRS

In [17]:
# 22Q] WAS to concat the new string into the specific position of the given string
# i\p ; x="QSPIDERS"   o\p : QSPI123456DERS

x="QSPIDERS"
res=x[0:4]+"123456"+x[-4:]
print(res)

res=x[-1:3:-1]+"123456"+x[-5::-1]
print(res)

res=x[:3:-1]+"123456"+x[3::-1]
print(res)

QSPI123456DERS
SRED123456IPSQ
SRED123456IPSQ

lIST questions

In [24]:
# 23Q] WAS to concat the new value into the starting of the given list

l=[10,20,30,50,'hello','haii']
l=[100,200]+l
print(l,id(l))

l=[10,20,30,50,'hello','haii']
t=[100,200]
t+=l
print(t,id(l))

l=[10,20,30,50,'hello','haii']
l[0:0]=[100,200]
print(l,id(l))

[100, 200, 10, 20, 30, 50, 'hello', 'haii'] 2296957828544
[100, 200, 10, 20, 30, 50, 'hello', 'haii'] 2296957824320
[100, 200, 10, 20, 30, 50, 'hello', 'haii'] 2296957828544

In [28]:
# 24Q] WAS to concat the new value into the ending of the given list

l=[10,20,30,50,'hello','haii']
print(l,id(l))
l=l+[100,200]
print(l,id(l))

l=[10,20,30,50,'hello','haii']
print(l,id(l))
l+=[100,200]
print(l,id(l))

l=[10,20,30,50,'hello','haii']
print(l,id(l))
l[len(l):len(t)]=[100,200]
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii'] 2296939441856
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 2296932516672
[10, 20, 30, 50, 'hello', 'haii'] 2296939445184
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 2296939445184
[10, 20, 30, 50, 'hello', 'haii'] 2296932516672
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 2296932516672

In [32]:
# 25Q] WAS to concat the new value into the middle of tje given string

l=[10,20,30,50,'hello','haii']
print(l,id(l))
l=l[:len(l)//2]+['A','B']+l[len(l)//2:]
print(l,id(l))

l=[10,20,30,50,'hello','haii','bye']
print(l,id(l))
l=l[:len(l)//2]+['A','b']+l[len(l)//2:]
print(l,id(l))

l=[10,20,30,50,'hello','haii']
print(l,id(l))
l[len(l)//2:len(l)//2]=['a','b']
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii'] 2296933942720
[10, 20, 30, 'A', 'B', 50, 'hello', 'haii'] 2296933941760
[10, 20, 30, 50, 'hello', 'haii', 'bye'] 2296933343488
[10, 20, 30, 'A', 'b', 50, 'hello', 'haii', 'bye'] 2296933942720
[10, 20, 30, 50, 'hello', 'haii'] 2296933941760
[10, 20, 30, 'a', 'b', 50, 'hello', 'haii'] 2296933941760

In [35]:
# 26Q] WAS to modify the new value into the specific position of the given list

l=[10,20,30,50,'hello','haii',66]
print(l,id(l))
l[2]="helloworld"
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii', 66] 2296964354752
[10, 20, 'helloworld', 50, 'hello', 'haii', 66] 2296964354752

In [36]:
# 27Q] WAS to modify the sequencee of new value into the specific postion of the given list

l=[10,20,30,50,'hello','haii',66]
print(l,id(l))
l[2:2]=["helloworld","goodbye"]
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii', 66] 2296945323968
[10, 20, 'helloworld', 'goodbye', 30, 50, 'hello', 'haii', 66] 2296945323968

In [39]:
# 28Q] WAS to modify the new value into the starting of the given list

l=[10,20,30,50,'hello','haii',66]
print(l,id(l))
l[0]="helloworld"
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii', 66] 2296964358336
['helloworld', 20, 30, 50, 'hello', 'haii', 66] 2296964358336

In [40]:
# 29Q] WAS to modify the new value into the ending of the given list

l=[10,20,30,50,'hello','haii',66]
print(l,id(l))
l[-1]="helloworld"
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii', 66] 2296939157824
[10, 20, 30, 50, 'hello', 'haii', 'helloworld'] 2296939157824

In [42]:
# 30Q] WAS to modify the new value into the middle of the given value 
l=[10,20,30,50,'hello','haii',66]
print(l,id(l))
l[len(l)//2]="helloworld"
print(l,id(l))

[10, 20, 30, 50, 'hello', 'haii', 66] 2296964358336
[10, 20, 30, 'helloworld', 'hello', 'haii', 66] 2296964358336

In [1]:
#31Q] WAS to modify the first 4 positions values into a givenn list 
l=[1,2,3,4,5,6]
print(l,id(l))
l[0:4]=['a','b','c','d']
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2151214887872
['a', 'b', 'c', 'd', 5, 6] 2151214887872

In [5]:
#32Q] WAS to delete thee value in the specific position of the given list
l=[1,2,3,4,5,6]
print(l,id(l))

del l[3]
print(l,id(l))

del l[-1]
print (l,id(l))

[1, 2, 3, 4, 5, 6] 2151220513472
[1, 2, 3, 5, 6] 2151220513472
[1, 2, 3, 5] 2151220513472

In [14]:
#33Q] WAS to delete the new value into the midle of the list

l=[1,2,3,4,5,6,7]
print(l,id(l))

del l[len(l)//2]
print(l,id(l))

l=[1,2,3,4,5,6]
print(l,id(l))

del l[len(l)//2]
print(l,id(l))

[1, 2, 3, 4, 5, 6, 7] 2151221111232
[1, 2, 3, 5, 6, 7] 2151221111232
[1, 2, 3, 4, 5, 6] 2151221185664
[1, 2, 3, 5, 6] 2151221185664

In [12]:
#34Q] was to delete the new value into the starting of the list 
l=[1,2,3,4,5,6]
print(l)
del l[0]
print(l)

l=[1,2,3,4,5,6]
print(l)

del l[-(len(l))]
print(l)

[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]

In [16]:
#35Q] WAS to delete the sequence of the value from the list

l=[1,2,3,4,5,6]
print(l,id(l))
del l[0:4]
print(l,id(l))

l=[1,2,3,4,5,6,'a','b','c','d','e']
print(l,id(l))
del l[4:0:-1]
print(l,id(l))

print("_"*30)

l=[1,2,3,4,5,6,'a','b','c','d','e']
print(l,id(l))
del l[-1:-6:-1]
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2151220431616
[5, 6] 2151220431616
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e'] 2151221185664
[1, 6, 'a', 'b', 'c', 'd', 'e'] 2151221185664
______________________________
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e'] 2151220434112
[1, 2, 3, 4, 5, 6] 2151220434112

TUPLE Questions

In [18]:
#36Q] WAS to concat the new value into starting of the tuple

t=("haii",'good','morning','goodnight')
print(t,id(t))

t=("haii",)+t
print(t,id(t))

('haii', 'good', 'morning', 'goodnight') 2151221122512
('haii', 'haii', 'good', 'morning', 'goodnight') 2151221038752

In [20]:
#37Q] WAS to concat the new value into middle of the tuple
t=("haii",'good','morning','goodnight')
print(t,id(t))
t=t[:len(t)//2]+([10,20],)+t[len(t)//2:]
print(t,id(t))

('haii', 'good', 'morning', 'goodnight') 2151221204112
('haii', 'good', [10, 20], 'morning', 'goodnight') 2151221038752

In [21]:
#38Q] WAS to concat the new value into specifi position of the tuple
t=("haii",'good','morning','goodnight')
print(t,id(t))
t=t[:3]+([10,20],)+t[3:]
print(t,id(t))

('haii', 'good', 'morning', 'goodnight') 2151221204112
('haii', 'good', 'morning', [10, 20], 'goodnight') 2151221038752

In [25]:
#39Q] WAS to concat the new value into ending of the tuple
t=("haii",'good','morning','goodnight','bye')
print(t, id(t))
t=t+("bye bye",)
print(t,id(t))

u=("haii",'good','morning','goodnight','bye')
print(u,id(u))
u+=("bye bye",)
print(u,id(u))

('haii', 'good', 'morning', 'goodnight', 'bye') 2151221611472
('haii', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 2151216478528
('haii', 'good', 'morning', 'goodnight', 'bye') 2151221611472
('haii', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 2151221553056

In [31]:
#40Q] WAS to modify the value into the tuple 
#starting
x=("haii",'good','morning','goodnight','bye')
x=("haii",)+x[1:]
print(x)

#ENDING
x=("haii",'good','morning','goodnight','bye')
x=x[0:-1]+('Good bye',)
print(x)

#Specific position 

x=("haii",'good','morning','goodnight','bye bye')
x=x[0:2]+("afternoon",)+x[2+1:]
print(x)

#middle position

x=("haii",'good','morning','goodnight','bye bye')
x=x[0:len(x)//2]+("afternoon",)+x[(len(x)//2)+1:]
print(x)

#sequence of values 
x=("haii",'good','morning','goodnight','bye','bye bye')
x=x[0:2]+([10,2,0],)+x[4:]
print(x)

('haii', 'good', 'morning', 'goodnight', 'bye')
('haii', 'good', 'morning', 'goodnight', 'Good bye')
('haii', 'good', 'afternoon', 'goodnight', 'bye bye')
('haii', 'good', 'afternoon', 'goodnight', 'bye bye')
('haii', 'good', [10, 2, 0], 'bye', 'bye bye')

In [33]:
#41Q] WAS to modify the value into the tuple 
#starting
x=("haii",'good','morning','goodnight','bye')
x=x[1:]
print(x)

#ENDING
x=("haii",'good','morning','goodnight','bye')
x=x[0:-1]
print(x)

#Specific position 

x=("haii",'good','morning','goodnight','bye bye')
x=x[0:2]+x[2+1:]
print(x)

#middle position

x=("haii",'good','morning','goodnight','bye bye')
x=x[0:len(x)//2]+x[(len(x)//2)+1:]
print(x)

#sequence of values 
x=("haii",'good','morning','goodnight','bye','bye bye')
x=x[0:2]+x[4:]
print(x)

('good', 'morning', 'goodnight', 'bye')
('haii', 'good', 'morning', 'goodnight')
('haii', 'good', 'goodnight', 'bye bye')
('haii', 'good', 'goodnight', 'bye bye')
('haii', 'good', 'bye', 'bye bye')

SET Questions

In [36]:
#42Q] WAS to concat the new value into the set

#UNION / CONCAT

s={10,20,30,40}
t={20,50,60}
res= s|t
print(res)

#UNION / CONCAT / UNION_UPDATE

s={10,20,30,40}
t={20,50,60}
s|=t
print(s)

#DIFFERENT / DELeTe

s={10,20,30,40}
t={20}
res= s-t
print(res)

#DIFFERENCE / DELETE / DIFFERENCE_UPDATE

s={10,20,30,40}
t={20}
s-=t
print(s)

{50, 20, 40, 10, 60, 30}
{50, 20, 40, 10, 60, 30}
{40, 10, 30}
{40, 10, 30}

DICT Questions

In [38]:
#43Q] WAS to concat the new key and value into the dict
#adding the single pair
d={'a':10,"hello":"bye"}
print(d,id(d))
d['c']=30
print(d,id(d))

# adiing the multiple pair
d={'a':10,"hello":"bye"}
x={'Apple':10,'Bat':1500,'ball':60}
print(d,id(d))
d|=x
print(d,id(d))

{'a': 10, 'hello': 'bye'} 2151220457792
{'a': 10, 'hello': 'bye', 'c': 30} 2151220457792
{'a': 10, 'hello': 'bye'} 2151214955136
{'a': 10, 'hello': 'bye', 'Apple': 10, 'Bat': 1500, 'ball': 60} 2151214955136

In [40]:
#44Q] WAS to delete the specific key and value in the given dict

d={'Apple':200,'Bat':'bye','ball':60}
print(d,id(d))
del d['ball']
print(d,id(d))


d={'Apple':200,'Bat':'bye','ball':60}
print(d,id(d))
del [d['ball']],d['Apple']
print(d,id(d))

{'Apple': 200, 'Bat': 'bye', 'ball': 60} 2151220566464
{'Apple': 200, 'Bat': 'bye'} 2151220566464
{'Apple': 200, 'Bat': 'bye', 'ball': 60} 2151220520832
{'Bat': 'bye'} 2151220520832

In [41]:
#45Q] WAS to modify the specific value in the given dict

d={'Apple':200,'Bat':'bye','ball':60}
print(d,id(d))
d['Apple']=1500
print(d,id(d))

{'Apple': 200, 'Bat': 'bye', 'ball': 60} 2151214827392
{'Apple': 1500, 'Bat': 'bye', 'ball': 60} 2151214827392